<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LexControl</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <%- include("../partials/_navbar") %>

    <div class="container mt-4">
      <div class="card p-3">
        <h2>Novo Caso</h2>

        <form action="/advogado/casos/add" method="post">

          <label>Título:</label>
          <input type="text" name="titulo" class="form-control">

          <label>Status:</label>
          <select name="status" class="form-control">
            <option value="EM_ANDAMENTO">Em andamento</option>
            <option value="CONCLUIDO">Concluído</option>
            <option value="ARQUIVADO">Arquivado</option>
            <option value="SUSPENSO">Suspenso</option>
          </select>

          <label>Prazo Final:</label>
          <input type="date" name="prazo_final" class="form-control">

          <label>Cliente:</label>
          <select name="cliente_id" class="form-control">
            <% clientes.forEach(cli => { %>
              <option value="<%= cli.cliente_id %>"><%= cli.nome %></option>
            <% }) %>
          </select>

          <br>
          <button class="btn btn-success" type="submit">Adicionar Caso</button>

        </form>
      </div>
    </div>

  </body>
</html>
